/* stephangriesel.com css boilerplate start */

html body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/* wrapper start */
.wrapper { 
	min-height: 100vh; /* insert vh comment here */
}

h1 {
	background-color: #333;
	color: white;
	margin: 0;
	padding: 1rem; /* insert rem comment here */
	font-size: 4rem;
}

button {
	font-size:2rem;
	border: 1px solid #333;
}

.modifiers button{
	background-color: #CCC;
}

.operations button{
	background-color: orange;
}

.digits button {
	background-color: #efefef;
}
	
